#zsh theme
{{- if eq .chezmoi.os "darwin" }}
source /opt/homebrew/share/powerlevel10k/powerlevel10k.zsh-theme
{{- else }}
source ~/.zshcustom/themes/powerlevel10k/powerlevel10k.zsh-theme
{{- end }}

# Enable Powerlevel10k instant prompt. Should stay close to the top of ~/.zshrc.
# Initialization code that may require console input (password prompts, [y/n]
# confirmations, etc.) must go above this block; everything else may go below.
if [[ -r "${XDG_CACHE_HOME:-$HOME/.cache}/p10k-instant-prompt-${(%):-%n}.zsh" ]]; then
  source "${XDG_CACHE_HOME:-$HOME/.cache}/p10k-instant-prompt-${(%):-%n}.zsh"
fi

#general aliases
alias reloadterm="source ~/.zshrc"

#chezmoi aliases
alias ccd="chezmoi cd"
alias ce="chezmoi edit"
alias ca="chezmoi apply"

#git aliases and functions
alias gs="git status"
alias ga="git add"
alias gp="git push"
alias gpf="git push -f"
alias gcommit="git commit -m"
alias gpristine='git reset --hard HEAD && git clean -dfx'

# To customize prompt, run `p10k configure` or edit ~/.p10k.zsh.
[[ ! -f ~/.p10k.zsh ]] || source ~/.p10k.zsh

#plugins
{{- if eq .chezmoi.os "darwin" }}
source /opt/homebrew/share/zsh-autosuggestions/zsh-autosuggestions.zsh
source /opt/homebrew/share/zsh-syntax-highlighting/zsh-syntax-highlighting.zsh
{{- else }}
source ~/.zshcustom/plugins/zsh-autosuggestions/zsh-autosuggestions.zsh
source ~/.zshcustom/plugins/zsh-syntax-highlighting/zsh-syntax-highlighting.zsh
{{- end }}

# ---- Eza (better ls) -----
alias ls="eza -a --icons=always"
# ---- Zoxide (better cd) ----
{{- if eq .chezmoi.osRelease.name "Ubuntu" }}
export PATH="$PATH:$HOME/.local/bin/"
{{- end }}
eval "$(zoxide init zsh)"
alias cd="z"

# history setup
HISTFILE=$HOME/.zhistory
SAVEHIST=1000
HISTSIZE=999
setopt share_history
setopt hist_expire_dups_first
setopt hist_ignore_dups
setopt hist_verify
# completion using arrow keys (based on history)
bindkey '^[[A' history-search-backward
bindkey '^[[B' history-search-forward
